<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
		<title>書籍情報変更画面</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
		<link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="../js/book_info_change.js" th:src="@{/js/book_info_change.js}"></script>
    </head>
    <body>
		<div id="confirmation-dialog" title="書籍情報を変更します" style="display:none;">
			<p class="mx-auto">OKで処理が完了します</p>
		</div>
		<form th:method="post" th:object="${userEntity}">
			<div class="row mx-auto">
				<div class="title w-100 border border-dark form-group form-inline my-0 mx-auto px-5 nav">
					<input type="submit" class="form-control btn btn-primary ml-auto text-dark" formaction="login.html" value="サインアウト">
					<h1 class="mr-auto">書籍管理システム</h1>
				</div>
				<div class="page_height w-100 d-flex justify-content-center mx-auto">
					<div class="col-md-3 col-lg-3 border border-dark d-flex flex-column align-items-center">
						<a class="p-2" href="main.html" th:href=@{#}>メイン</a>
					</div>
					<div class="col-md-9 col-lg-9 border border-dark page_height">
						<div class="d-flex flex-column align-items-center mt-5">
							<div class="col-md-8 col-lg-8">
								<div class="mt-5">
                                    <div class="form-group form-inline">
										<div class="d-inline-block col-md-12 col-lg-3">
											<label class="control-label float-left">書籍タイトル</label>
										</div>
										<div class="col-md-12 col-lg-1">
											<span class="badge badge-danger">必須</span>
										</div>
										<div class="col-md-12 col-lg-8">
											<input class="form-control required" type="text" name="title" style="min-width: 25vw;" th:value="*{title}">
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="d-inline-block col-md-3 col-lg-3">
											<label class="control-label float-left">作者</label>
										</div>
										<div class="col-md-12 col-lg-1">
											<span class="badge badge-danger">必須</span>
										</div>
										<div class="col-md-12 col-lg-8">
											<input class="form-control required" type="text" name="author" style="min-width: 25vw;" th:value="*{author}">
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="d-inline-block col-md-3 col-lg-3">
											<label class="control-label float-left">版数</label>
										</div>
										<div class="col-md-12 col-lg-1">
											<span class="badge badge-danger">必須</span>
										</div>
										<div class="col-md-12 col-lg-8">
											<input class="form-control required" type="text" name="editon" style="min-width: 25vw;" th:value="*{versionNumber}">
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="d-inline-block col-md-3 col-lg-3">
											<label class="control-label float-left">ISBN</label>
										</div>
										<div class="col-md-12 col-lg-1">
											<span class="badge badge-danger">必須</span>
										</div>
										<div class="col-md-12 col-lg-8">
											<input class="form-control required" type="text" name="isbn" style="min-width: 25vw;" th:value="*{isbn}">
										</div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <div class="d-inline-block col-md-3 col-lg-3">
                                            <label class="control-label float-left">冊数</label>
                                        </div>
                                        <div class="col-md-12 col-lg-1">
											<span class="badge badge-danger">必須</span>
										</div>
										<div class="col-md-12 col-lg-8 form-inline">
											<div class="radio_area col-md-5 col-lg-3 col-sm-4 col-xs-4">
												<span>
													<input type="radio" name="plusOrMinus" class="d-none" th:value="1" id="add" checked><label class="col-3 mb-1" id="add_label" for="add">＋</label>
												</span>
												<span>
													<input type="radio" name="plusOrMinus" class="d-none" th:value="-1" id="reduce"><label class="col-3" id="reduce_label" for="reduce">－</label>
												</span>     
											</div>
											<div class="col-md-7 col-lg-9 form-inline col-sm-8 col-xs-8">
												<input type="number" class="form-control required" id="increase_and_decrease_number" name="booksCount" min="0" value="0" step="1" style="min-width: 15vw;">   	
											</div>
											<div class="col-md-5 col-lg-3 col-sm-4 col-xs-4">	
											</div>
											<div class="col-md-7 col-lg-9 col-sm-8 col-xs-8">
												<span>(現在の冊数：11冊)</span>
												<input type="hidden" id="stock" name="stock" value="11">	
											</div>	
										</div>
                                        
                                    </div>
									<div class="form-group form-inline">
										<div class="d-inline-block col-md-12 col-lg-3">
											<label class="control-label float-left">備考</label>
										</div>
										<div class="col-md-12 col-lg-1">
											<span class="badge badge-success">任意</span>
										</div>
										<div class="col-md-12 col-lg-8">
											<textarea name="note" id="" class="form-control" cols="45" rows="5">××××××××××××××××××××××××××××××××××××××××</textarea>
										</div>
									</div>
									<div id="messageSpace" class="d-flex flex-column align-items-center"></div>
									<div class="form-group text-center mt-3">
										<input type="submit" class="far fa-backward w-25 btn btn-primary text-dark mr-5" formaction="#" value="戻る">
										<input type="button" class="form-control w-25 btn btn-primary text-dark submit_btn" value="変更" formaction="/user/doBooksChange" >
									</div>	
								</div>								
							</div>	
						</div>
					</div>
				</div>
			</div>
		</form>
    </body>
</html>